---
import HeaderNavbar from "../components/HeaderNavbar.astro";
import Hero from "../components/Hero.astro";
import HeroTwo from "../components/HeroTwo.astro";
import Features from "../components/Features.astro";
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div class="background">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <HeaderNavbar />
        <!-- <Hero /> -->
        <HeroTwo />
        <Features />
        <About />
        <Footer />
    </div>
</Layout>

<!-- <style>
    @keyframes move {
        100% {
            transform: translate3d(0, 0, 1px) rotate(360deg);
        }
    }

    .background {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: #ffffff;
        overflow: hidden;
    }

    .background span {
        width: 20vmin;
        height: 20vmin;
        border-radius: 20vmin;
        backface-visibility: hidden;
        position: absolute;
        animation: move;
        animation-duration: 15;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        z-index: -100;
    }

    .background span:nth-child(0) {
        color: #bfdbfe;
        top: 12%;
        left: 18%;
        animation-duration: 152s;
        animation-delay: -16s;
        transform-origin: -3vw -12vh;
        box-shadow: -40vmin 0 5.571862787279564vmin currentColor;
    }
    .background span:nth-child(1) {
        color: #dbeafe;
        top: 40%;
        left: 92%;
        animation-duration: 18s;
        animation-delay: -19s;
        transform-origin: -14vw -10vh;
        box-shadow: 40vmin 0 5.137143392881731vmin currentColor;
    }
    .background span:nth-child(2) {
        color: #c4b5fe;
        top: 71%;
        left: 27%;
        animation-duration: 48s;
        animation-delay: -79s;
        transform-origin: 5vw -3vh;
        box-shadow: -40vmin 0 5.943074665244788vmin currentColor;
    }
    .background span:nth-child(3) {
        color: #a596b5;
        top: 6%;
        left: 99%;
        animation-duration: 105s;
        animation-delay: -58s;
        transform-origin: 20vw 4vh;
        box-shadow: -40vmin 0 5.54870952714918vmin currentColor;
    }
</style> -->
