---

---

<div class="max-w-6xl px-4 sm:px-6 ids43 mx-auto">
    <div class="beg37 hox8y a04kx gdc1f">
        <!-- Heading -->
        <div class="hl65v gu4ri mx-auto dtief">
            <h2 class="q0ca9 c9jt8 q1zj0 x93ie dark:text-white">
                The story behind Epic ERP Solutions
            </h2>

            <p class="chaem w4xo0 hqjpa c9jt8 dark:text-gray-200">
                Prelin is a web company that builds websites. Businesses of
                every size—from new startups to public companies—use our theme
                to build and manage their businesses online.
            </p>
        </div>
        <!-- End Heading -->

        <div class="w-full uo18l dnmlf f4yn1 er6t7 dark:bg-neutral-800">
            <img
                class="fp3m4 x1s1r er6t7 dark:bg-neutral-800"
                src=""
                alt="About us Image"
            />
        </div>
    </div>
</div>
