---

---

<div class="max-w-6xl px-4 sm:px-6 lg:px-8 mx-auto">
    <div class="pt-10 md:pt-20 pb-14 md:pb-20">
        <!-- Heading -->
        <div class="mb-20 max-w-xl mx-auto text-center">
            <h2 class="font-bold text-gray-800 text-4xl md:text-5xl">
                The story behind Epic ERP Solutions
            </h2>

            <p class="mt-5 text-sm md:text-lg text-gray-800">
                Prelin is a web company that builds websites. Businesses of
                every size—from new startups to public companies—use our theme
                to build and manage their businesses online.
            </p>
        </div>
        <!-- End Heading -->

        <div class="w-full h-64 md:h-96 bg-gray-100 rounded-xl">
            <img
                class="size-full object-cover er6t7 dark:bg-neutral-800"
                src=""
                alt="About us Image"
            />
        </div>
    </div>
</div>
