---

---

<div class="max-w-6xl px-4 sm:px-6 lg:px-8 mx-auto">
    <div class="pt-10 md:pt-20 pb-14 md:pb-20">
        <!-- Heading -->
        <div class="mb-20 max-w-xl mx-auto text-center">
            <h2 class="font-semibold text-gray-800 text-3xl md:text-4xl">
                The story behind Epic ERP Solutions
            </h2>

            <p class="mt-5 text-sm md:text-lg text-gray-800">
                Prelin is a web company that builds websites. Businesses of
                every size—from new startups to public companies—use our theme
                to build and manage their businesses online.
            </p>
        </div>
        <!-- End Heading -->
        <!--  Title Description  -->
        <div
            class="w-full max-w-2xl mx-auto h-64 md:h-auto bg-gray-100 rounded-xl"
        >
            <img
                class="w-full h-auto object-contain rounded-xl"
                src="/about-section.webp"
                alt="About us Image"
            />
        </div>
    </div>
</div>
<div class="max-w-6xl px-4 sm:px-6 lg:px-8 mx-auto">
    <!-- Grid -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 lg:gap-10">
        <div class="lg:pe-[20%]">
            <h2 class="font-semibold text-3xl md:text-4xl text-gray-800">
                Tools should adapt to the user, not the other way around.
            </h2>
        </div>
        <!-- End Col -->

        <div class="space-y-5">
            <p class="jy5gh">
                Preline is a powerful and versatile open-source library of
                prebuilt UI components based&nbsp;on the Tailwind CSS framework.
                With over 750 accessible and customizable components, templates,
                and examples, Preline empowers developers to create visually
                stunning and fully responsive, mobile-first websites with ease.
            </p>
            <p class="jy5gh">
                In addition to its robust component library, Preline offers a
                comprehensive Figma design system for seamless
                design-to-development workflows. Whether you're a developer or a
                designer, Preline provides the tools to streamline your projects
                and elevate your web creations.
            </p>
            <p class="jy5gh">
                Our offerings go beyond components—we specialize in custom web
                design and development services, including UI/UX design, starter
                templates, detailed documentation, and personalized support.
                Backed by a community-driven approach, Preline is here to help
                you build with confidence and creativity.
            </p>
        </div>
        <!-- End Col -->
    </div>
    <!-- End Grid -->
</div>
<!--  End Title Description  -->
