---

---

<div class="lg:pt-10 pb-20">
    <div class="max-w-4xl px-4 sm:px-6 lg:px-8 mx-auto">
        <!-- Heading -->
        <div class="mb-8 md:mb-16 max-w-xl mx-auto text-center">
            <p class="mb-2 font-mono text-gray-500">What we do</p>
            <h2 class="font-semibold text-2xl md:text-3xl text-gray-800">
                Since 2007, we have helped 2.5k+ companies launch over 100k
                incredible products
            </h2>
        </div>
        <!-- End Heading -->

        <!-- Grid -->
        <div class="ylm8n hjdn7 fafsg kq5fj j2j20 g5wuv atoce">
            <!-- Icon Block -->
            <div class="flex n60o7">
                <svg
                    class="e731n odrp3 wuw66 rwavo igv60 dark:text-blue-500"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path
                        d="M12 5a3 3 0 1 0-5.997.125 4 4 0 0 0-2.526 5.77 4 4 0 0 0 .556 6.588A4 4 0 1 0 12 18Z"
                    ></path>
                    <path d="M9 13a4.5 4.5 0 0 0 3-4"></path>
                    <path d="M6.003 5.125A3 3 0 0 0 6.401 6.5"></path>
                    <path d="M3.477 10.896a4 4 0 0 1 .585-.396"></path>
                    <path d="M6 18a4 4 0 0 1-1.967-.516"></path>
                    <path d="M12 13h4"></path>
                    <path d="M12 18h6a2 2 0 0 1 2 2v1"></path>
                    <path d="M12 8h8"></path>
                    <path d="M16 8V5a2 2 0 0 1 2-2"></path>
                    <circle cx="16" cy="13" r=".5"></circle>
                    <circle cx="18" cy="3" r=".5"></circle>
                    <circle cx="20" cy="21" r=".5"></circle>
                    <circle cx="20" cy="8" r=".5"></circle>
                </svg>

                <div class="hlt95">
                    <h4 class="sikx1 c9jt8 dark:text-neutral-200">
                        Creative minds
                    </h4>
                    <p class="rwavo jy5gh dark:text-neutral-500">
                        We choose our teams carefully. Our people are the secret
                        to great work.
                    </p>
                </div>
            </div>
            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="flex n60o7">
                <svg
                    class="e731n odrp3 wuw66 rwavo igv60 dark:text-blue-500"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path d="M6 9H4.5a2.5 2.5 0 0 1 0-5H6"></path>
                    <path d="M18 9h1.5a2.5 2.5 0 0 0 0-5H18"></path>
                    <path d="M4 22h16"></path>
                    <path
                        d="M10 14.66V17c0 .55-.47.98-.97 1.21C7.85 18.75 7 20.24 7 22"
                    ></path>
                    <path
                        d="M14 14.66V17c0 .55.47.98.97 1.21C16.15 18.75 17 20.24 17 22"
                    ></path>
                    <path d="M18 2H6v7a6 6 0 0 0 12 0V2Z"></path>
                </svg>

                <div class="hlt95">
                    <h4 class="sikx1 c9jt8 dark:text-neutral-200">
                        Conquer the best
                    </h4>
                    <p class="rwavo jy5gh dark:text-neutral-500">
                        We stay lean and help your product do one thing well.
                    </p>
                </div>
            </div>
            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="flex n60o7">
                <svg
                    class="e731n odrp3 wuw66 rwavo igv60 dark:text-blue-500"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path
                        d="M21 7.5V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h3.5"
                    ></path>
                    <path d="M16 2v4"></path>
                    <path d="M8 2v4"></path>
                    <path d="M3 10h5"></path>
                    <path d="M17.5 17.5 16 16.3V14"></path>
                    <circle cx="16" cy="16" r="6"></circle>
                </svg>

                <div class="hlt95">
                    <h4 class="sikx1 c9jt8 dark:text-neutral-200">
                        Effortless updates
                    </h4>
                    <p class="rwavo jy5gh dark:text-neutral-500">
                        Benefit from automatic updates to all boards any time
                        you need to make a change to your website.
                    </p>
                </div>
            </div>
            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="flex n60o7">
                <svg
                    class="e731n odrp3 wuw66 rwavo igv60 dark:text-blue-500"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path
                        d="M15.536 11.293a1 1 0 0 0 0 1.414l2.376 2.377a1 1 0 0 0 1.414 0l2.377-2.377a1 1 0 0 0 0-1.414l-2.377-2.377a1 1 0 0 0-1.414 0z"
                    ></path>
                    <path
                        d="M2.297 11.293a1 1 0 0 0 0 1.414l2.377 2.377a1 1 0 0 0 1.414 0l2.377-2.377a1 1 0 0 0 0-1.414L6.088 8.916a1 1 0 0 0-1.414 0z"
                    ></path>
                    <path
                        d="M8.916 17.912a1 1 0 0 0 0 1.415l2.377 2.376a1 1 0 0 0 1.414 0l2.377-2.376a1 1 0 0 0 0-1.415l-2.377-2.376a1 1 0 0 0-1.414 0z"
                    ></path>
                    <path
                        d="M8.916 4.674a1 1 0 0 0 0 1.414l2.377 2.376a1 1 0 0 0 1.414 0l2.377-2.376a1 1 0 0 0 0-1.414l-2.377-2.377a1 1 0 0 0-1.414 0z"
                    ></path>
                </svg>

                <div class="hlt95">
                    <h4 class="sikx1 c9jt8 dark:text-neutral-200">
                        Designing for people
                    </h4>
                    <p class="rwavo jy5gh dark:text-neutral-500">
                        We actively pursue the right balance between
                        functionality and aesthetics, creating delightful
                        experiences.
                    </p>
                </div>
            </div>
            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="flex n60o7">
                <svg
                    class="e731n odrp3 wuw66 rwavo igv60 dark:text-blue-500"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path
                        d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"
                    ></path>
                </svg>

                <div class="hlt95">
                    <h4 class="sikx1 c9jt8 dark:text-neutral-200">
                        Strong empathy
                    </h4>
                    <p class="rwavo jy5gh dark:text-neutral-500">
                        We've user tested our own process by shipping over 1k
                        products for clients.
                    </p>
                </div>
            </div>
            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="flex n60o7">
                <svg
                    class="e731n odrp3 wuw66 rwavo igv60 dark:text-blue-500"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <circle cx="12" cy="12" r="10"></circle>
                    <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                    <path d="M12 17h.01"></path>
                </svg>

                <div class="hlt95">
                    <h4 class="sikx1 c9jt8 dark:text-neutral-200">
                        Stay curious
                    </h4>
                    <p class="rwavo jy5gh dark:text-neutral-500">
                        We dedicate time for researching and experimentation to
                        increase creativity and imagine new challenges.
                    </p>
                </div>
            </div>
            <!-- End Icon Block -->
        </div>
        <!-- End Grid -->
    </div>
</div>
