---
import Hero from "./Hero.astro";
import HeroTwo from "./HeroTwo.astro";
import Features from "./Features.astro";
import About from "./About.astro";
import Contact from "./Contact.astro";
---

<main>
    <!-- <Hero /> -->
    <HeroTwo />
    <Features />
    <About />
    <Contact />
</main>
