---
import Hero from "./Hero.astro";
import HeroTwo from "./HeroTwo.astro";
import Services from "./Services.astro";
import Features from "./Features.astro";
import About from "./About.astro";
import Contact from "./Contact.astro";
---

<main id="home" class="scroll-mt-20">
    <!-- <Hero /> -->
    <HeroTwo />
    <Services />
    <Features />
    <About />
    <Contact />
</main>
