---
import TermsModal from "../components/TermsModal.astro";
import PrivacyModal from "../components/PrivacyModal.astro";
import Bubbles from "../components/Bubbles.astro";
import Gradient from "../components/Gradient.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Epic ERP Solutions</title>
	</head>
	<body>
		<slot />
		<TermsModal />
		<PrivacyModal />
		<Bubbles />
		<Gradient />
	</body>
	<script is:inline src="./node_modules/preline/dist/index.js"></script>
	<script src="/src/js/close-mobile-menu.js"></script>
</html>
