---
// import BackgroundGradient from "../components/BackgroundGradient.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<div
			aria-hidden="true"
			class="fixed -top-96 left-1/2 transform -translate-x-1/2 pointer-events-none z-0"
		>
			<div
				class="bg-gradient-to-r from-violet-300/50 to-purple-100 blur-3xl w-[400px] h-[700px] rotate-[-60deg] transform -translate-x-40"
			>
			</div>
			<div
				class="bg-gradient-to-tl from-blue-50 via-blue-100 to-blue-50 blur-3xl w-[1440px] h-[800px] rounded-full origin-top-left -rotate-12 -translate-x-60"
			>
			</div>
		</div>

		<div class="relative z-10">
			<slot />
		</div>
		<script is:inline src="./node_modules/preline/dist/index.js"></script>
	</body>

	<!-- <style>

	html,
	body {
		margin: 0 auto;
		width: 100%;
		height: 100%;
	}
</style> -->
</html>
